{{name}}
<br><br>
<a mat-list-item href="https://vc.ru/design/37728-teper-material-design-polnocennaya-dizayn-sistema" target="_blank">
  <button mat-raised-button color="primary">Material Design</button>
</a>
<br><br>
<a mat-list-item href="https://v8.material.angular.io/components/categories" target="_blank">
  <button mat-raised-button color="primary">angular.io</button>
</a>
<br><br>
<a mat-list-item href="https://webformyself.com/kak-ispolzovat-material-design-v-angular-6/" target="_blank">
  <button mat-raised-button color="primary">webformyself</button>
</a>
<br><br>
<a mat-list-item href="https://qna.habr.com/q/487238" target="_blank">
  <button mat-raised-button color="primary">habr</button>
</a>
<br><br>
